{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="py-3">Форма связи</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes py-3">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
      <!-- Ошибки сообщений -->
    {% for message in form.name.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    {% endfor %}

   {% for message in form.email.errors %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
   {% endfor %}

   {% for message in form.subject.errors %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
   {% endfor %}

   {% for message in form.message.errors %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
   {% endfor %}

        <h1>{{ title }}</h1>
		<form action="" method="POST">
			{{ form.hidden_tag() }}
			{{ form.name(class="form-control mb-3", placeholder="Добавить имя") }}
			{{ form.email(class="form-control mb-3", placeholder="Добавить почту") }}
			{{ form.subject(class="form-control mb-3", placeholder="Тема сообщения") }}
			{{ form.message(class="form-control mb-3", placeholder="Ваше сообщение") }}
			{{ form.submit(class="btn btn-success") }}
		</form>
    </div>
{% endblock content %}